/* --- */
/* Font */
/* --- */
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

/* --- */
/* Custom properties */
/* --- */

/* Mobile */
:root {
  /* Colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  --clr-blue: 231 15% 26%;

  /* Font sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-750: 1.75rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* Font family */
  --ff-serif: 'Bellefair', serif;
  --ff-sans-cond: 'Barlow Condensed', sans-serif;
  --ff-sans-normal: 'Barlow', serif;

  /* Letter Spacing */
  --ls-3: 4.72px;
  --ls-2: 2.5px;
  --ls-1: 2px;

  /* line height */

  --lh: 25px;
  /* Flex & default gap */
  --gap: 3rem;
}
/* tablet */
@media (min-width: 35rem) {
  :root {
    /* Font sizes */
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-200: 1rem;
    /* Line height */
    --lh: 28px;
  }
}

/* desktop */
@media (min-width: 45rem) {
  :root {
    /* Font sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-200: 1rem;
    /* Line height */
    --lh: 32px;
  }
}
/* Make img easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

p {
  line-height: var(--lh);
}
/* Set up body */
body {
  font-family: var(--ff-sans-normal);
  min-height: 100vh;
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;

  display: grid;
  grid-template-rows: min-content 1fr;

  overflow-x: hidden;
}

/* Set up headers weight because the font we use don't have bold weight, so css might make h1 bold and  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

/* --- */
/* Utilities classes */
/* --- */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
}
.grid-container {
  display: grid;
  place-items: center;
  text-align: center;
  column-gap: var(--column-gap, 2rem);
  padding: 0 2rem;
}

@media screen and (min-width: 45rem) {
  .grid-container {
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        1rem,
        1fr
      );
    text-align: left;
  }

  .grid-container > *:first-child {
    grid-column: 2;
  }

  .grid-container > *:last-child {
    grid-column: 3;
  }

  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
}
/* support visibly impair screen reader users */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Colors */
.bg-dark {
  background-color: hsl(var(--clr-dark));
}

.bg-accent {
  background-color: hsl(var(--clr-light));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}

.text-accent {
  color: hsl(var(--clr-light));
}

.text-white {
  color: hsl(var(--clr-white));
}

/* Typography */
.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-750 {
  font-size: var(--fs-750);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.letter-spacing-1 {
  letter-spacing: 4.72px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2px;
}

.text-center {
  text-align: center;
}

.upper-case {
  text-transform: uppercase;
}
.numbered-title {
  font-family: var(--ff-sans-cond);
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-size: var(--fs-400);
  font-weight: 400;
}

.numbered-title > span {
  font-weight: 700;
  margin-right: 0.75rem;
  color: hsl(var(--clr-white) / 0.25);
}

/* Components */
/* large button */
.large-button {
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  border-radius: 50%;
  font-family: var(--ff-serif);
  font-size: var(--fs-600);
  padding: 0 2rem;
  display: inline-grid;
  place-items: center;
  aspect-ratio: 1;
  position: relative;
  z-index: 1;
}
.large-button::after {
  content: '';
  background-color: hsl(var(--clr-white) / 0.15);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 50%;
  transition: opacity 0.5s linear, transform 0.75s ease-in-out;
  opacity: 1;
}
/* Effect when hover */
.large-button:hover:after,
.large-button:focus:after {
  opacity: 1;
  transform: scale(1.5);
}
.underline-indicators > * {
  cursor: pointer;
  padding: var(--underline-gap, 0.5rem) 0;
  border: 0;
  border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
  background-color: transparent;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl(var(--clr-white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected='true'] {
  color: hsl(var(--clr-white) / 1);
  border-color: hsl(var(--clr-white) / 1);
}

.tab-list {
  border: 0;
}

/* ---------- */
/* Homepage */
/* ---------- */
/* Navbar Primary Navigation */
header {
  justify-content: space-between;
  align-items: center;
}
nav {
  height: 100%;
  padding-inline: 2rem;
}
/* hidden the hamburger menu */
.mobile-nav-toggle {
  display: none;
}
.primary-navigation {
  background: hsl(var(--clr-dark) / 0.95);
  gap: clamp(1.5rem, 5vw, 3rem);
  align-items: center;
  --underline-gap: 2rem;
}
.primary-navigation ul li a span {
  color: hsl(var(--clr-white));
}

@supports (backdrop-filter: blur(1.5rem)) {
  .primary-navigation {
    background: hsl(var(--clr-white) / 0.05);
    backdrop-filter: blur(1.5rem);
  }
}
/* settings specific for mobile nav */
@media screen and (max-width: 35rem) {
  .primary-navigation {
    display: block;
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30%;
    padding: min(7.5rem, 15vh) 2rem;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  @supports (inset: 0 0 0 30%) {
    .primary-navigation {
      inset: (0 0 0 30%);
    }
  }
  .primary-navigation ul {
    flex-direction: column;
    gap: 0rem;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    z-index: 6;
    width: 1.5rem;
    height: 1.5rem;
    border: 0;
    background: transparent;
    background-image: url(../../assets/shared/icon-hamburger.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  @supports (aspect-ratio: 1) {
    .mobile-nav-toggle {
      aspect-ratio: 1;
    }
  }

  .primary-navigation[data-visible='true'] {
    transform: translateX(0%);
    /* display: block; */
  }

  .mobile-nav-toggle[aria-expanded='true'] {
    background-image: url(../../assets/shared/icon-close.svg);
  }

  .mobile-nav-toggle:focus-visible {
    outline-offset: 5px;
    outline: 1px solid white;
  }
}
/* Background for nav only in tablet */
@media screen and (min-width: 35rem) and (max-width: 45rem) {
  .primary-navigation {
    background-color: hsl(var(--clr-white) / 0.04);
  }
}

nav ul li {
  padding: 2rem 0;
  cursor: pointer;
}
/* logo */
.logo {
  margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
  overflow: hidden;
}

/* Hero */
.hero-text span {
  display: block;
  margin: 1.5rem 0;
}

.home-body {
  background-image: url('../../assets/home/background-home-mobile.jpg');
}

/* tablet */
@media screen and (min-width: 35rem) {
  .home-body {
    background-image: url('../../assets/home/background-home-tablet.jpg');
    background-position: bottom center;
  }

  .primary-navigation {
    padding: 0 clamp(2rem, 4vw, 7.6rem);
  }

  nav ul li a span {
    display: none;
  }
}
/* desktop */
@media screen and (min-width: 45rem) {
  header {
    margin-top: 2rem;
  }
  .home-body {
    background-image: url('../../assets/home/background-home-desktop.jpg');
  }
  nav ul li a span {
    display: inline;
  }
  /* set up the line through the nav only in desktop */
  .primary-header::after {
    content: '';
    display: block;
    background-color: hsl(var(--clr-white) / 0.25);
    width: 100%;
    height: 1px;
    position: relative;
    order: 1;
    margin-right: -4.7rem;
  }

  .primary-navigation {
    order: 2;
  }
}

/* --- */
/* Destination Page */
/* --- */

/* destination background img */
.destination-body {
  background-image: url(../../assets/destination/background-destination-mobile.jpg);
}
/*  */
@media screen and (min-width: 35rem) {
  .destination-body {
    background-image: url(../../assets/destination/background-destination-tablet.jpg);
  }
  .grid-container--destination {
    margin-top: clamp(2rem, 5vw, 4.75rem);
    margin-bottom: 4rem;
  }
}
@media screen and (min-width: 45rem) {
  .destination-body {
    background-image: url(../../assets/destination/background-destination-desktop.jpg);
  }
}

.grid-container--destination {
  grid-template-areas:
    'title'
    'image'
    'tabs'
    'content';
  row-gap: 2rem;
  margin-bottom: 7.3rem;
}

.numbered-title {
  grid-area: title;
}

.grid-container--destination > img {
  max-width: 60%;
  grid-area: image;
}
.grid-container--destination .tab-list {
  grid-area: tabs;
}
.grid-container--destination > .destination-info {
  grid-area: content;
}
.tab-list button {
  font-size: var(--fs-200);
}
/* article */
article {
  flex-direction: column;
  /* --gap: 2rem; */
}

article h3 {
  margin-bottom: 0.75rem;
}

.destination-meta {
  border-top: 1px solid hsl(var(--clr-blue));
  padding-top: 2rem;
  flex-direction: column;
}

@media screen and (min-width: 35rem) {
  .destination-meta {
    flex-direction: row;
    justify-content: space-around;
  }

  .grid-container--destination > *:first-child {
    justify-self: start;
  }

  article {
    padding: 0 4rem;
  }
}

/* Desktop */
@media screen and (min-width: 45rem) {
  .grid-container--destination {
    grid-template-areas:
      '. title title .'
      '. image tabs .'
      '. image content .';
    align-content: start;
    justify-items: start;
  }

  .grid-container--destination > img {
    max-width: 100%;
  }
  .destination-info {
    text-align: left;
    padding: 0;
  }

  .destination-meta {
    justify-content: start;
    gap: min(4vw, 6rem);
  }

  h1.numbered-title {
    font-size: var(--fs-750);
  }
}
