/* --- */
/* Custom properties */
/* --- */

:root {
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
}


/* --- */
/* Utilities classes */
/* --- */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.flex-col {
    flex-direction: column;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding: 0 2rem;
    margin: 0 auto;
}

/* support visibly impair screen reader users */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Colors */
.bg-dark {
    background-color: hsl(var(--clr-dark));
}

.bg-accent {
    background-color: hsl(var(--clr-light));
}

.bg-white {
    background-color: hsl(var(--clr-white));
}

.text-dark {
    color: hsl(var(--clr-dark));
}

.text-accent {
    color: hsl(var(--clr-accent));
}

.text-white {
    color: hsl(var(--clr-white));
}